.venv
datasets
dataset
aug_dataset
dataset_aug
data
NewData
BackUp
model/runs

datasets/**/*.*
data/**/*.*
runs/**/*.*
HumanDetection.rar
*.zip
*.rar
*.mp4
*.csv
statisticGenerator.py
AugmentedDataGenerator.py
statisticExport
statistic_outputs
statisData
outputs
search_rescue_detector
search_rescue_detector_100epochs
search_rescue_detector_100epochs_yolo11n
search_rescue_detector_100epochs_yolo11n_final
search_rescue_detector_100epochs_yolo11n_satellite
# search_rescue_detector_thermal
Testing
buildozer.spec
labelConverter.py
onnxExport.py
UI/bin
UI/.buildozer
UI/buildozer.spec


